.how-it-works {
    display: grid;
    grid-template-columns: minmax(0, 200px) minmax(0, 80px) minmax(0, 465px);
    grid-template-rows: 100px auto;
    grid-row-gap: 50px;
    justify-content: center;
}

.how-it-works > .mobile-image {
    background-image: url("../_images/mobile.png");
    grid-column: 1/2;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.how-it-works > .content {
    grid-column: 3/4;
    display: grid;
    grid-gap: 15px;
}

.how-it-works > .content > div {
    display: grid;
    grid-row-gap: 5px;
}

.how-it-works > .content .title {
    font-size: 150%;
}

.how-it-works > .content .details {
    color: #707070;
    font-size: 110%;
  }